<div class="container">
<h1 class="bd-title">FAQ</h1>
<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is Indium?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Indium is an open community of developers who decided to set up a new blockchain network that's optimized for building utility apps &amp; public goods. The blockchain is a public, permissioned, Ethereum-compatible network which gives leads to lower transaction costs and easier compliance. Tokens will be given to app developers as milestone-linked grant after evaluating project proposals in a decentralized manner using token-curated registries. See <a href="https://indium.network/" target="_blank">https://indium.network/</a> to learn more.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          What kind of things can I offer in return of indium coins?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Anything that you can offer which might be useful to others. We've seen people offer bug-bounties, code reviews, personalized poetry, brain-picking hours and much more.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          I claimed an offer but it was never fulfilled.
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <i class="fas fa-hand-holding-heart"></i>TipJar is not a marketplace. It just facilitates one-way transfers. It essentially is an honour-based community for collaboration. We cannot help if the offerer doesn't meet your expectations. Your payment will be on public blockchain so you can easily prove the transfer. But interactions outside the blockchain requires third-parties who can monitor the delivery. We are not in that position.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          You are generating and keeping a private key for me. Isn't that risky?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Yes, that's correct. It's a deliberate choice we have taken to improve usability for new-comers to cryptographical systems. This is the same approach most crypto-exchanges take. Like with any blockchain, you can generate as many keypairs as you want and transfer your token balance whenever you want. That will make sure that nobody else besides you can withdraw them. Indium network is Ethereum-compatible so you can use MetaMask, MyEtherWallet or any other wallets. It's a blockchain after all, and you can be in full control of your tokens. We encourage you to do the same.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I get in touch with you?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Write to us at hi ~AT~ indium ~DOT~ network.
      </div>
    </div>
  </div>
</div>
</div>