<div class="container">
<div class="jumbotron bg-light">
    <h1 class="display-4">Support good people! <i class="fas fa-heart text-danger"></i></h1>
    <p class="lead">Send &amp; receive indium coins easily.</p>
    <hr class="my-4">
    <p><a href="https://tipjar.indium.network/">Indium</a> is a blockchain-powered community of makers and doers. <i class="fas fa-hand-holding-heart"></i>TipJar is an online crypto-wallet where you can leave an indium-denominated tip for anyone by knowing just their social username (Twitter, Github etc.). For eg, you can leave a crypto-donation for Chief Minister of flood-devastated Kerala by visiting <a href="/u/twitter/CMOKerala">https://tipjar.indium.network/u/twitter/CMOKerala</a>.</p>

    <p>You too can invite contributions by creating an "offer" which people can claim or support. <i class="fas fa-hand-holding-heart"></i>TipJar seamlessly generates cryptographic keypairs and publishes the transaction on blockchain - thus making them immutable.</p>

    <div class="d-flex flex-column flex-md-row lead mb-3">
        <a href='/auth/twitter?origin=<%= params[:origin] %>' class="btn btn-info mb-3 mb-md-0 mr-md-3"><i class="fab fa-twitter"></i> Sign in with Twitter</a>

        <a href='/auth/github?origin=<%= params[:origin] %>' class="btn btn-dark mb-3 mb-md-0 mr-md-3"><i class="fab fa-github"></i> Sign in with Github</a>
    </div>
</div>
</div>