<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Indium TipJar</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/newmain.css" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/"><i class="fas fa-hand-holding-heart"></i>TipJar</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <% if @me %><button id="toggletooltip" class="btn btn-primary" onclick="showTooltips();">Explain</button><% end %>
        <a class="p-2 text-dark" href="https://indium.network/" target="_blank">What is Indium?</a>
        <a class="p-2 text-dark" href="/faq">FAQ</a>
        <% if @me %>
          <% unless request.path == "/u/#{session[:platform]}/#{session[:nickname]}" %>
            <a class="p-2 text-dark" href="/u/<%= session[:platform] %>/<%= session[:nickname] %>">Your Account</a>
          <% end %>
        <% end %>
      </nav>
      <% if @me.nil? and request.path != "/" %>
        <a class="btn btn-outline-primary" href="/">Sign up / Log in</a>
      <% else %>
        <% if @me %><a class="btn btn-outline-primary" href="/logout">Log Out</a><% end %>
      <% end %>
    </div>

    <%= yield %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        let params = (new URL(document.location)).searchParams;
        let amount = parseFloat(params.get("amount"));
        let message = params.get("message");
        let data = params.get("data");
        if(amount || message || data){
          $('#paymentModal').modal({'backdrop': true})
        }

        $('[data-toggle="tooltip"]').tooltip({trigger: 'manual'});
      });

      function showTooltips(){
        $('[data-toggle="tooltip"]').tooltip('show');
        window.setTimeout(hideTooltips, 10000);
      };

      function hideTooltips(){
        $('[data-toggle="tooltip"]').tooltip('hide');
      }
    </script>
  </body>
</html>
