<div>
Offer id: <%= offer.id %>
Title: <%= offer.title %>
Desc: <%= offer.description %>
Price: <%= offer.price %>
<% if offer.user == me %>
<form action="/deleteoffer/<%= offer.id %>" method="post" style="display: inline">
    <input type="submit" value="Delete"/>
</form>
<% else %>
    <a href="/u/<%= user.platform %>/<%= user.nickname %>?<%= {amount: offer.price, message: offer.id}.to_query %>">Claim</a>
<% end %>
</div>