<!doctype html>
<html lang="en">
  <head>
    <title>Wallet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Wallet</a></h3>
              <nav class="nav nav-masthead">
                <!-- <a class="nav-link active" href="#">Home</a> -->
                <% if @me.nil? %>
                  <a class="nav-link" href="/?origin=<%= request.fullpath %>">Log In</a>
                <% else %>
                  <% unless request.path == "/u/#{session[:platform]}/#{session[:nickname]}" %>
                    <a class="nav-link" href="/u/<%= session[:platform] %>/<%= session[:nickname] %>">You</a>
                  <% end %>
                  <a class="nav-link" href="/logout">Log Out</a>
                <% end %>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
          <%= yield %>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <!--<p>(c) 2017</p>-->
            </div>
          </footer>

        </div>

      </div>

    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>