<div class="px-3 py-3 pt-md-5 pb-md-4">
  <div class="alert alert-danger">
      <p class="alert-heading">  
        <span class="fa-stack fa-2x text-center" style="color: red;">
          <i class="far fa-times-circle"></i>
        </span>
        <strong>Something Went Wrong</strong>
      </p>
      <hr>
      <p class="mt-1">We received an error while attempting to send <strong><%= amount%></strong> indiums to <i>/u/<%= user.platform%>/<%= user.nickname%></i>.</p>
      <p class="mt-1">Apologies that your attempted transaction did not go through. If you already know the error, we encourage you to attempt a fresh transaction.</p>
      <p class="mt-1">In case of any other issue, or for more information, please mail us at
      <a href="mailto:hi@indium.network?Subject=Transaction%20Failed">hi@indium.network</a></p>
      <p class="mt-1">Thank you for using Indium TipJar.</p>
      <p class="mt-3">Sincerely,</p>
      <p class="md-1">Indium TipJar</p>
      <hr>
  </div>
</div>
