<div class="px-3 py-3 pt-md-5 pb-md-4">
  <div class="alert alert-success">
      <p class="alert-heading">  
        <span class="fa-stack fa-2x text-center" style="color: green;">
          <i class="far fa-check-circle"></i>
        </span>
        <strong>Payment Successful</strong>
      </p>
      <hr>
      <p class="mt-1">You have successfully sent <strong><%= amount%></strong> indiums to <i>/u/<%= user.platform%>/<%= user.nickname%>.</i> The transaction hash for your payment is <span data-toggle="tooltip" title="" class="text-monospace rounded bg-light text-dark p-1 break-word" data-original-title="This is the transaction hash."><%= response%></span>. You can verify the status of the transaction by entering the transaction hash at <a href="http://indium.acycliclabs.com" target="_blank">http://indium.acycliclabs.com</a></p>
      <p class="mt-1">(or)</p>
      <p class="mt-1">You can also check the status of the transaction by clicking on this <a href="http://indium.acycliclabs.com/tx/#{response}" target="_blank">link</a>.</p>
      <p class="mt-1">Thank you for using Indium TipJar.</p>
      <p class="mt-3">Sincerely,</p>
      <p class="mt-1">Indium TipJar</p>
      <hr>
      <div class="social">
        <p><strong>Share this transaction</strong></p>
        <a href="https://twitter.com" class="icon-button twitter"><i class="fab fa-twitter"></i><span></span></a>
        <a href="https://facebook.com" class="icon-button facebook"><i class="fab fa-facebook-f"></i><span></span></a>
        <a href="https://plus.google.com" class="icon-button google-plus"><i class="fab fa-google-plus-g"></i><span></span></a>
        <a href="https://plus.google.com" class="icon-button whatsapp"><i class="fab fa-whatsapp"></i></i><span></span></a>
      </div>
  </div>
</div>

