    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2 class="display-4">
          <% if user.image_url %>
            <img src="<%= user.image_url %>" width="48" height="48" class="rounded-circle"/>
          <% end %>
          <%= user.platform %>/<%= user.nickname %>
      </h2>
      <% if me && (me == user) %>
          <p><span data-toggle="tooltip" title="This is your Indium address (public key)." class="text-monospace rounded bg-light text-dark p-1 break-word"><%= user.keypairs.first.pubkey %></p>
          <p>Balance: <b><%= INDIUM.wei_to_eth_str(user.balance) %></b> indiums.</p>
      <% end %>
      <% unless me && (me == user) %>
      <br/><a href="/u/<%= user.platform %>/<%= user.nickname %>?<%= {message: "You're doing God's work!"}.to_query %>"><button class="btn btn-lg bg-success text-white"><b>Leave A Tip</b></button></a>
      <% end %>
    </div>
    <hr/>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <% user.offers.kept.each do |offer| %>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal"><%= offer.title %></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= INDIUM.wei_to_eth_str(offer.price) %> <small class="text-muted">indiums</small></h1>
            <p style="min-height: 120px;"><%= offer.description %>


            <hr/>
            <% if offer.user == me %>
              <form action="/deleteoffer/<%= offer.id %>" method="post" onsubmit="return confirm('Do you really want to remove this offer?');">
                <button type="submit" class="btn btn-lg btn-block btn-danger">Delete Offer</button>
              </form>
            <% else %>
              <a class="btn btn-lg btn-block btn-success" href="/u/<%= user.platform %>/<%= user.nickname %>?<%= {amount: INDIUM.wei_to_eth_str(offer.price), message: (offer.id.to_s + ': For ' + offer.title)}.to_query %>">Claim</a>
            <% end %>
          </div>
        </div>
        <% end %>

        <% if me and (me == user) %>
        <div class="card mb-4 shadow-sm">
          <form action="/addoffer" method="post">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal"><input class="form-control" id="title" placeholder="What do you want to offer?" required type="text" name="title" minlength="8" maxlength="50"></h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">
                <div class="input-group">
                <input class="form-control" placeholder="price" required type="number" id="price" name="price" step="0.000000001" min="0.0000005" max="10000000" data-toggle="tooltip" title="How many indiums would you like to receive for this?"/>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">indiums</span>
                </div>
                </div>
              </h1>
              <textarea class="form-control"  style="min-height: 120px;" id="description" placeholder="Describe your offering here. As example: a performance, sharing your expertise, or anything else that you're good at." required name="description" minlength="15" maxlength="250"></textarea>
              <hr/>
              <button type="submit" class="btn btn-lg btn-block btn-primary">Create Offer</button>
            </div>
          </form>
        </div>
        <% end %>
      </div>

      <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <form method="post" action="/pay/<%= user.platform %>/<%= user.nickname %>">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pay to <%= user.nickname %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <div class="input-group">
                    <input class="form-control" type="number" step="1" name="amount" step="0.000000001" min="0.0000005" max="10000000" value="<%= params[:amount] %>" required placeholder="How many?"/>
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">indiums</span>
                    </div>
                  </div>
                  <% if @me %><p>Your current balance is: <%= me.balance %> Indiums.</p><br/><% end %>

                  <p>&nbsp;</p>
                  <div>
                    <% if params.key?(:data) %>
                      <textarea class="form-control" placeholder="data" name="data"><%= params[:data] || "{}" %></textarea><br/><br/>
                    <% else %>
                      <input class="form-control" name="message" value="<%= params[:message] %>" placeholder="Remarks"/><br/>
                    <% end %>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Confirm Payment</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2018</small>
          </div>
          <div class="col-6 col-md">
          </div>
          <div class="col-8 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://indium.network" target="_blank">Indium.Network</a></li>
              <li><a class="text-muted" href="https://gitlab.com/indium" target="_blank">GitLab</a></li>
              <li><a class="text-muted" href="http://dashboard.indium.network/" target="_blank">Network Dashboard</a></li>
              <li><a class="text-muted" href="https://join.slack.com/indiumtalk/shared_invite/MTk4MDQwNzMwMDIzLTE0OTczODIwNDItMzBkY2RlMjk0Yg" target="_blank">Join Developer Slack</a></li>
              <li><a class="text-muted" href="https://twitter.com/indium_network" target="_blank">Twitter</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>