<% unless user.platform == "pubkey" %>
<h1 class="cover-heading"><img src="<%= user.image_url %>" alt="" style="border-radius: 24px"> <%= user.platform %>/<%= user.nickname %></h1>
<% end %>

<% if me && (me == user) %>
    <p class="lead">Your Indium addres is: <span class="ipdb"><%= user.keypairs.first.pubkey %></span></p>
    <p>Current balance: <%= user.balance %></p>
<% else %>
    <% if user.display_indium_address? %>
      <p class="lead">Their Indium addres is: <span class="ipdb"><%= user.keypairs.first.pubkey %></span></p>
    <% end %>
<% end %>


<% user.offers.each do |o| %>
  <%= erb :offer, :locals => {offer: o, me: me, user: user} %>
<% end %>
<% if me and (me == user) %>
<form style="width: 300px; align: center;" action="/addoffer" method="post">
  <a class="btn btn-primary" data-toggle="collapse" href="#addofferform">Create a new offer</a>
  <div class="collapse" id="addofferform">
    <div class="form-group">
      <label for="offerTitle">Title</label>
      <input type="text" class="form-control" id="offerTitle" placeholder="Title" required name="title">
      <!-- <small id="titleHelp" class="form-text text-muted">Short and sweet is best.</small> -->
    </div>
    <div class="form-group">
      <label for="offerDesc">Description</label>
      <textarea class="form-control" id="offerDesc" placeholder="Description" required name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="offerPrice">Price</label>
      <input type="number" class="form-control" id="offerPrice" placeholder="100" required name="price">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<% end %>

<p class="lead">
  <% if me %>
      <% if me != user %>
              You can pay them here:
              <form method="post" action="/pay/<%= user.platform %>/<%= user.nickname %>">
                  <label>Amount</label><br/>
                  <input type="number" step="1" name="amount" min="1" max="<%= me.balance %>" value="<%= params[:amount] %>" required placeholder="Number of units you want to send"/><br/>
                  <p>Your current balance is: <%= me.balance %> Indiums.</p><br/>

                  <% if params.key?(:data) %>
                    <label>Data (</label><br/>
                    <textarea name="data"><%= params[:data] || "{}" %></textarea><br/><br/>
                  <% else %>
                    <label>Message</label><br/>
                    <input name="message" value="<%= params[:message] %>" placeholder="Remarks"/><br/><br/>
                  <% end %>
                  <input type="submit" value="Pay" />
              </form>
      <% end %>
  <% else %>
    To pay them, <a href="/?origin=<%= request.fullpath %>">log in</a> first.
  <% end %>
</p>